extends layout

block content
  style.
    .dw_test{display:inline-block; margin:5px;background:green;color:#fff;padding:5px;}
    p{color:blue}
  #vue_warp
    vue_test
  #main
  h1 原生dom 测试。
  div(style="background-color: #fff;height:900px;width:900px")
    img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="width:400px; height:200px;border:1px solid red")
    p data:image/gif
    img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" style="width:400px; height:200px;border:1px solid red")
  table#table(border=0)
    tr
      td 姓名
      td 年龄
    tr
      td 张三
      td 12