ul.nav.nav-tabs
  li.active
    a(href='#reports') 小B用户报表
  li
    a(href='#reports/bprize') 小B发券报表
  li
    a(href='#reports/redpacket') 红包报表
  li
    a(href='#reports/wifi') wifi万能钥匙报表
  li
    a(href='#reports/onlinePrizesByCity') 线上券城市纬度报表
  li
    a(href='#reports/onlinePrizesByOneDay') 线上券当日新增报表